.ng-animate {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes nghinge {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
    20% {
        -webkit-transform: rotateZ(10deg);
        transform: rotateZ(10deg);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
    }
    40% {
        -webkit-transform: rotateZ(17deg);
        transform: rotateZ(17deg);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
    60% {
        -webkit-transform: rotateZ(16deg);
        transform: rotateZ(16deg);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
    100% {
        -webkit-transform: translateY(100%) rotateZ(17deg);
        transform: translateY(100%) rotateZ(17deg);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
}
@keyframes nghinge {
    0% {
        -webkit-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
    20% {
        -webkit-transform: rotateZ(10deg);
        -ms-transform: rotateZ(10deg);
        transform: rotateZ(10deg);
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    40% {
        -webkit-transform: rotateZ(17deg);
        -ms-transform: rotateZ(17deg);
        transform: rotateZ(17deg);
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
    60% {
        -webkit-transform: rotateZ(16deg);
        -ms-transform: rotateZ(16deg);
        transform: rotateZ(16deg);
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
    100% {
        -webkit-transform: translateY(100%) rotateZ(17deg);
        -ms-transform: translateY(100%) rotateZ(17deg);
        transform: translateY(100%) rotateZ(17deg);
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
}
.an-fadeInUp-hinge.ng-leave {
    -webkit-animation-name: nghinge;
    animation-name: nghinge;
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
.an-fadeInUp-hinge.ng-enter {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
