.subdropdown {
    position: relative;
    z-index: 999999;
}
.subdropdown>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -2px;
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
}
.dropdown>.dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.subdropdown.pull-left {
    float: none;
}
.subdropdown.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.dropdown-menu > li > a {
    outline: 0;
    text-decoration: none;
    color: #555;
}
.dropdown-menu > .active > a {
    color: #fff;
    background-color: #337ab7;
}
.dropdown-menu>li:hover>a {
    color: #000;
}
.dropdown-menu>.open>a, .dropdown-menu>.open>a:hover, .dropdown-menu>.open>a, .dropdown-menu>.open>a:focus{
    color: #000;
}
.dropdown-menu>.subdropdown>a:after, .navbar-nav > .dropdown > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    margin-top: 5px;
    margin-right: -10px;
    border-color: transparent;
    border-left-color: #cccccc;
}
.dropdown-menu>.subdropdown.active>a:after, .navbar-nav > .dropdown.active > a:after {
    border-top-color: transparent;
    border-left-color: #555;
}
.dropdown-menu>li:hover>a:after {
    border-top-color: transparent;
    border-left-color: #555;
}
.subdropdown.open>a:after, .dropdown-menu>.subdropdown.open:hover>a:after, .navbar-nav > .open > a:after, .navbar-nav > .open:hover > a:after {
    border-width: 5px 5px 0 5px;
    margin-top: 8px;
    margin-right: -12px;
    border-left-color: transparent;
    border-top-color: #555;
}
