.subdropdown {
    position: relative;
}
.subdropdown>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -2px;
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
}
.dropdown>.dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.subdropdown.pull-left {
    float: none;
}
.subdropdown.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.navbar-nav>.dropdown>a {
    padding-right: 25px;
}
.subdropdown>a:after, .navbar-nav > .dropdown > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}
.navbar-inverse .navbar-nav > .dropdown > a:after {
    border-left-color: #cccccc;
}
.dropdown-menu>.open>a:after, .navbar-nav > .dropdown.open > a:after {
    border-width: 5px 5px 0 5px;
    border-left-color: transparent;
    border-top-color: #cccccc;
    margin-top: 8px;
    margin-right: -12px;
}
.navbar-inverse .navbar-nav > .navbar-nav > .dropdown.open > a:after {
    border-left-color: #fff;
}
.dropdown-menu>.subdropdown:hover>a:after {
    border-left-color: #555;
}
.navbar-nav > .dropdown:hover > a:after {
    border-left-color: #555;
}
.navbar-inverse .navbar-nav > .dropdown:hover > a:after {
    border-left-color: #fff;
}
.dropdown-menu>.open:hover>a:after {
    border-top-color: #555;
    border-left-color: transparent;
}
.navbar-nav > .open:hover > a:after {
    border-top-color: #555;
    border-left-color: transparent;
}
.navbar-inverse .navbar-nav > .open:hover > a:after {
    border-top-color: #fff;
    border-left-color: transparent;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #337ab7;
    outline: 0;
}
