.subdropdown {
    position: relative;
}
.subdropdown>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -2px;
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
}
.dropdown>.dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.subdropdown.pull-left {
    float: none;
}
.subdropdown.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.subdropdown>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}
.subdropdown:hover>a:after {
    border-left-color: #555;
}
.navbar-nav .dropdown-menu {
    padding: 0;
}
.open>.dropdown-menu, .side-nav .active>.dropdown-menu {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}
.dropdown-menu {
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: scale(1, 0);
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    display: block;
}
@media (max-width: 767px) {
    .active>.dropdown-menu {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    .navbar-nav .dropdown-menu>li, .navbar-nav>li {
        padding: 2px 0 0 0;
        margin: 0;
    }
    .navbar-nav .open .dropdown-menu {
        margin-left: 10px;
    }
    .navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 15px;
    }
    .navbar-nav .active .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        display: block;
        margin-left: 10px;
    }
    .navbar-inverse .navbar-nav .dropdown-menu > li > a {
        color: #9d9d9d;
    }
    .navbar-inverse .navbar-nav .open > a, .navbar-inverse .navbar-nav .open > a:hover, .navbar-inverse .navbar-nav .open > a:focus {
        color: #fff;
        background-color: #222;
    }
    .navbar-inverse .navbar-nav .active > a, .navbar-inverse .navbar-nav .active > a:hover, .navbar-inverse .navbar-nav .active > a:focus {
        color: #fff;
        background-color: #080808;
    }
    .navbar-inverse .navbar-nav li>a:hover, .navbar-inverse .navbar-nav li>a:focus {
        color: #fff;
        background-color: #222;
    }
    .navbar-nav .dropdown-menu > li > a {
        line-height: 20px;
    }
    .navbar-nav .dropdown-menu > li > a, .navbar-nav .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 15px;
    }
}

@media(min-width:768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        left: 0;
        bottom: 0;
        width: 225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
    }
    /*.side-nav .open>.dropdown-menu, .side-nav .active>.dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        margin-left: 10px;
        display: block;
    }
    .side-nav .dropdown-menu>li, .side-nav>li {
        padding: 2px 0 0 0;
        margin: 0;
    }
    .side-nav>li {
        float: none;
    }
    .side-nav>li>a {
        width: 225px;
    }
    .side-nav>li>ul {
        padding: 0;
    }
    .side-nav>li>ul>li>a {
        display: block;
        padding: 10px 15px 10px 38px;
        text-decoration: none;
        color: #999;
    }
    .navbar-inverse .side-nav li > a {
        color: #9d9d9d;
    }
    .side-nav li>a:hover, .side-nav li>a:focus {
        color: #fff;
        background-color: #222;
    }
    .navbar-inverse .side-nav .active > a, .navbar-inverse .side-nav .active > a:hover, .navbar-inverse .side-nav .active > a:focus {
        color: #fff;
        background-color: #080808;
    }
    .navbar-inverse .side-nav .open > a, .navbar-inverse .side-nav .open > a:hover, .navbar-inverse .side-nav .open > a:focus {
        color: #fff;
        background-color: #222;
    }
    .side-nav .dropdown-menu > li > a {
        line-height: 20px;
    }
    .side-nav .dropdown-menu > li > a, .side-nav .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 15px;
    }*/
}
