.viewport {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.navbar {
    margin-bottom: 0;
}
.workspace {
  overflow-y: auto;
  position: absolute;
  left: 0;
  right:0;
  top:50px;
  bottom:0;
  padding:5px;
}

@media(min-width:768px) {
  .workspace.rworkspace{
    left:225px;
  }
}
.fullscreen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99999999;
}
.fullscreening {
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .35s;
    -o-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
}
