
.body-container{
  overflow:scroll;
}
.body-container, .fullscreen-container{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.fullscreen-container{
  z-index: 1030;
  background-color: #fff;
}
.fullscreen-container .fullscreen{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  width:auto;
  height: auto;
  overflow:hidden;
}