.body-container {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.navbar {
    margin-bottom: 0;
}
.side-nav {
    margin-left: -225px;
    left: 225px;
    width: 225px;
    position: fixed;
    top: 50px;
    height: 100%;
    border-radius: 0;
    border: none;
    background-color: #222;
    overflow-y: auto;
}
.side-nav li.dropdown>ul.dropdown-menu {
    position: relative;
    min-width: 225px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    left:5px;
}
.side-nav li.dropdown>ul.dropdown-menu>li>a {
    color: #999999;
    padding: 15px 15px 15px 25px;
}
.side-nav li.dropdown>ul.dropdown-menu>li>a:hover, .side-nav li.dropdown>ul.dropdown-menu>li>a.active, .side-nav li.dropdown>ul.dropdown-menu>li>a:focus {
    color: #fff;
    background-color: #428bca;
}
.side-nav>li>a {
    width: 225px;
}
.workspace {
}
.workspace .vnav{
  left:225px;
}
.fullscreen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99999999;
}
.fullscreening {
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .35s;
    -o-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
}
