.workbench {
    overflow: auto;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.workbench .app-progress {
    height: 10px;
    border-radius: 0;
    margin: 0;
}
/**************************************** Layouts ****************************************/
/********* wheel *********/

.workbench.wheel .workspace {
    top: 0;
}
/********* Navbar *********/

.navbar {
    border: none;
    margin-bottom: 0px;
}
@media(max-width:767px) {
    .navbar-collapse {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
.navbar-nav > li > a:focus {
    color: inherit;
    background: transparent;
}
/*Navbar ztree menu*/

.navbar-nav.ztree {
    padding: 0;
}
.navbar-nav.ztree *, .navbar-nav.ztree li span {
    font-size: inherit;
}
.navbar-nav.ztree ul {
    padding: 0;
}
.navbar-nav.ztree li {
    position: relative;
}
.navbar-nav.ztree li>span, .navbar-nav.ztree li>a, .navbar-nav.ztree li>a:focus {
    background: transparent;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}
.navbar-nav.ztree li>a {
    height: auto;
    display: block;
}
.navbar-nav.ztree li>a.curSelectedNode {
    border: none;
    opacity:1;
    height: auto;
    background: transparent;
}
/*row height*/

.navbar-nav.ztree li>a {
    padding: 15px 20px 15px 10px;
}
/*switch button*/

.navbar-nav.ztree li>span.button.switch {
    width: auto;
    height: auto;
    line-height: inherit;
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 1;
}
.navbar-nav.ztree li>span.button.switch.noline_docu {
    display: none;
}
.navbar-nav.ztree li>span.button.switch.noline_open {
    background: transparent;
}
.navbar-nav.ztree li>span.button.switch.noline_open:after {
    content: "\f0d8";
}
.navbar-nav.ztree li>span.button.switch.noline_close {
    background: transparent;
}
.navbar-nav.ztree li>span.button.switch.noline_close:after {
    content: "\f0d7";
}
.navbar-nav.ztree li.level1>a {
    padding-left: 20px;
}
.navbar-nav.ztree li.level2>a {
    padding-left: 30px;
}
.navbar {
    background: #F8F8F8;
}
.navbar-brand {
    color: #555555;
}
.navbar-toggle .icon-bar {
    background: #777777;
}
.navbar-nav.ztree {
    color: #555555;
}
.navbar-nav > li {
    color: #777777;
}
.navbar-nav > li:hover {
    color: #555555;
}
.navbar-nav > li > a:hover {
    background: #e7e7e7;
}
.skin-block .navbar {
    background: #222;
}
.skin-block .navbar-brand {
    color: #9d9d9d;
}
.skin-block .navbar-toggle .icon-bar {
    background: #E8E8E8;
}
.skin-block .navbar-nav.ztree {
    color: #9d9d9d;
}
.skin-block .navbar-nav > li {
    color: #9d9d9d;
}
.skin-block .navbar-nav > li:hover {
    color: #ffffff;
}
.skin-block .navbar-nav > li > a:hover {
    background: #080808;
}

@media(min-width:768px) {
    .navbar .navbar-nav.ztree {
        position: relative;
    }
    .navbar .navbar-nav.ztree > li ul {
        position: absolute;
        background: #ffffff;
        border: 1px solid #EAE9E9;
    }
    .navbar .navbar-nav.ztree > li ul>li>a {
        font-size: 12px;
        padding: 5px 15px 5px 5px;
        border-top: 1px dotted #EAE9E9;
        margin: 0 3px;
    }
    .navbar .navbar-nav.ztree > li ul>li>span.button.switch {
        top: 8px;
    }
    .navbar .navbar-nav.ztree > li ul>li>span.button.switch.noline_open:after {
        content: "\f0d9";
    }
    .navbar .navbar-nav.ztree > li ul>li>span.button.switch.noline_close:after {
        content: "\f0da";
    }
    .navbar .navbar-nav.ztree > li>ul li>ul {
        left: 100%;
        top: 0;
    }
    .navbar .navbar-nav.ztree > li>ul li{
      color:#777777;
    }
    .navbar .navbar-nav.ztree > li>ul li:hover {
        color: #555555;
    }
    .navbar .navbar-nav.ztree > li>ul li > a:hover, .skin-block .navbar .navbar-nav.ztree > li>ul li > a:hover{
        background: #e7e7e7;
    }
}

/*Side Navbar*/

.side .sidebar {
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
    width: 250px;
    transition-property: width;
    transition-duration: 1.5s;
    transition-timing: ease;
    transition-delay: 0;
}
.side .navbar-header {
    width: 250px;
}
.side .navbar-toggle {
    display: block;
    border: none;
    float: left;
}
.side .navbar-toggle:hover, .side .navbar-toggle:focus {
    background: transparent;
}
.side .workspace {
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    overflow: hidden;
    left: 250px;
    transition-property: left;
    transition-duration: 1.5s;
    transition-timing: ease;
    transition-delay: 0;
}
.side .workspace>.container-fluid {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    overflow: auto;
}
.sideout .sidebar {
    width: 0;
    overflow: hidden;
    transition-property: width;
    transition-duration: 1.5s;
    transition-timing: ease;
    transition-delay: 0;
}
.sideout .workspace {
    left: 0;
    transition-property: left;
    transition-duration: 1.5s;
    transition-timing: ease;
    transition-delay: 0;
}
.sideright .sidebar {
    right: 0;
    left: inherit;
}
.sideright .workspace {
    right: 250px;
    left: 0;
    transition-property: right;
    transition-duration: 1.5s;
    transition-timing: ease;
    transition-delay: 0;
}
.sideout.sideright .workspace {
    right: 0;
    transition-property: right;
    transition-duration: 1.5s;
    transition-timing: ease;
    transition-delay: 0;
}
.side .sidebar .tree {
    width: 100%;
}
/**************************************** Navbar Skin ****************************************/
/********* default *********/
/**************************************** Side Navbar Skin ****************************************/

.workbench.side .sidebar {
    background: #F8F8F8;
    border-top: 2px solid #ccc;
}
.workbench.side.skin-block .sidebar {
    background: #222;
    border-top-color: #000;
}
