<div class="navbar navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ng-bind="getTitle()"></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <ul class="nav navbar-right ">
            <li role="presentation" class="dropdown">
              <a role="menuitem" href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle">Theme</a>
              <ul class="dropdown-menu">
                <li role="presentation" ng-repeat="theme in supportThemes">
                <a href="javascript:void(0)" ng-click="cfg.navtheme=theme" ng-bind="theme"></a>
                </li>
              </ul>
            </li>
          </ul>
        <div class="collapse navbar-collapse">
            <ul ngui-tree="getMenu()" theme="theme.default" auto-close="false" class="nav navbar-nav dropdown">
            </ul>
        </div>
    </div>
</div>
