<div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ng-bind="getTitle()"></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <ul class="nav navbar-right top-nav">
        </ul>
        <div class="collapse navbar-collapse">
            <ul ngui-dropdown="getMenu()" theme="menu" auto-close="false" class="nav navbar-nav">
            </ul>
        </div>
    </div>
</div>
