<div class="navbar navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header" >
            <a class="navbar-brand" ng-bind="cfg.title"></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <ul class="nav navbar-nav navbar-right " ng-include="'template/navigation/theme.html'">
        </ul>
        <div class="collapse navbar-collapse">
            <ul ngui-ztree="menu" options="menuOptions" class="nav navbar-nav hmenu">
            </ul>
        </div>
    </div>
</div>
