<div class="navbar navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-bind="cfg.title"></a>
        </div>
        <ul class="nav navbar-nav navbar-right " ng-include="'template/navigation/theme.html'">
        </ul>
    </div>
</div>
<ul ngui-ztree="menu" options="menuOptions" class="sidebar nav navbar-nav">
</ul>
