html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
    padding:0;
}
.hbox{
  display: table;
  table-layout: fixed;
  border-spacing: 0;
  width: 100%;
}
.workspace.hbox{
  height:100%;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari and Chrome */
    .dropdown-menu.extended  {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.176) !important;
    }
    }
