<!DOCTYPE html>
<html lang="en" ng-app="ngui.demo" ng-controller="DemoCtrl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title ng-bind="cfg.name"></title>

    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="<%= pkg.name%>.css" />

    <link rel="stylesheet" href="assets/rainbow.css" />
    <link rel="stylesheet" href="assets/demo.css" />

    <script src="underscore/underscore.js"></script>
    <script src="jquery/dist/jquery.js"></script>
    <script src="angular/angular.js"></script>
    <script src="bootstrap/dist/js/bootstrap.js"></script>
    <script src="angular-ui-router/release/angular-ui-router.js"></script>
    <script src="angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="<%= pkg.name%>-tpls.js"></script>

    <script>
      (function(){
        "use strict"
        angular.module('app', ['ngui','ui.router'])
        .factory('appService', ['utils', 'TreeNode',function(utils, TreeNode){
          var cfg = {
            name: '<%=pkg.fullname%>',
            version: '<%=pkg.version%>',
            author: '<%=pkg.author%>',
            github: '<%=pkg.github%>',
            homepage: '<%=pkg.homepage%>',
            dependencies: []
          }
          <% for(var key in bower.dependencies){%>
            cfg.dependencies.push({lib:'<%=key%>' , version:'<%=bower.dependencies[key]%>'});
          <%}%>



          function menuKeyParser(node, option){
            return option.key;
          }
          function applyData(node, option){
            angular.extend(node, option);
          }
          function parseMenu(cfgs){
            if(!angular.isArray(cfgs)){
              cfgs = [cfgs];
            }
            return new TreeNode({key:'root', text:'', children: cfgs}, null, false, menuKeyParser, null, applyData, null);
          }


          var menuCfg = [{
            key: 'directives',
            text: 'Directives',
            children:[]
          },{
            key: 'start',
            text: 'Getting started'
          },{
            key: 'dependencies',
            text: 'Dependencies',
            router: 'dependencies'
          },{
            key: 'tree',
            text: 'Tree',
            children:[
              {
                key: 'node1',
                text: 'Node1',
                children:[
                  {
                    key: 'start',
                    text: 'Getting started1'
                  },
                  {
                    key: 'start2',
                    text: 'Getting started2'
                  },
                  {
                    key: 'start3',
                    text: 'Getting started3'
                  }
                ]
              },{
                key: 'node2',
                text: 'Node2',
                children:[

                ]
              },{
                key: 'node3',
                text: 'Node3',
                children:[

                ]
              }
            ]
          }];
          <% demoModules.forEach(function(module) {  %>
            menuCfg[0].children.push({
              key: '<%= module.name %>',
              router: '/directives/<%= module.name %>',
              text: '<%= module.displayName %>'
            });
          <% }); %>

          var menuRoot = parseMenu(menuCfg);
          console.log(menuRoot.findNode('/'));
          console.log(menuRoot.findNode('/directives'));
          console.log(menuRoot.findNode('directives/'));
          console.log(menuRoot.findNode('/directives/panel'));
          console.log(menuRoot.findNode('directives/panel'));
          return {
            getCfg: function(){
              return utils.deferred(function(def){
                def.resolve(cfg);
              });
            },
            getMenu: function(path){
              return utils.deferred(function(def){
                def.resolve(path ? menuRoot.findNode(path) : menuRoot);
              });
            }
          }
        }]).config(function($stateProvider, $urlRouterProvider) {
  //
          // For any unmatched url, redirect to /state1
          //$urlRouterProvider.otherwise("/state1");
          //
          // Now set up the states
          $stateProvider.state('dependencies', {
            url:'dependencies',
            templateUrl: 'dependencies.tpl'
          });
          <% demoModules.forEach(function(module) {  %>
            $stateProvider.state('/directives/<%= module.name %>', {
              url:'/directives/<%= module.name %>',
              templateUrl: "<%= module.name %>.tpl"
            });
          <% }); %>
        });
      })();
    </script>
    <script src="assets/app.js"></script>
</head>

<body>
  <div class="body-container">
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" ng-bind="cfg.name"></a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse ">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="{{cfg.github}}" target="_blank">
              <i class="fa fa-github"></i>GitHub </a>
            </li>
          </ul>
          <ul ngui-tree="menu" class="nav navbar-nav">
          </ul>
        </div>
      </div>
    </div>

    <script type="text/ng-template" id="dependencies.tpl">
    <ul>
      <li ng-repeat="lib in cfg.dependencies">
        <span ng-bind="lib.lib"></span>: <span ng-bind="lib.version"></span>
      </li>
    </ul>
    </script>
    <% demoModules.forEach(function(module) { %>
    <script type="text/ng-template" id="<%= module.name %>.tpl">
          <section >
              <div class="page-header">
                <h1><%= module.displayName %><small>
                    (<%= module.libraryPrefix %>.<%= module.name %>)
                </small></h1>
                </div>
                <div class="row">
                  <div class="col-md-6 show-grid">
                      <%= module.docs.html %>
                  </div>
                  <div class="col-md-6">
                      <%= module.docs.md %>
                  </div>
              </div>
              <hr>
              <div class="row code">
                  <div class="col-md-12">
                      <tabset>
                          <tab heading="Markup">
                              <div plunker-content="markup">
                                  <pre ng-non-bindable><code data-language="html"><%- module.docs.html %></code></pre>
                              </div>
                          </tab>
                          <tab heading="JavaScript">
                              <div plunker-content="javascript">
                                  <pre ng-non-bindable><code data-language="javascript"><%- module.docs.js %></code></pre>
                              </div>
                          </tab>
                      </tabset>
                  </div>
              </div>
          </section>
    </script>
    <script><%= module.docs.js %></script>
    <%})%>
    <div class="workspace">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12" ui-view>
                </div>
            </div>
        </div><!-- /.container -->
    </div>

  </div>
</body>

</html>
