<!DOCTYPE html>
<html lang="en" ng-app="ngui.demo" ng-controller="DemoCtrl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title ng-bind="cfg.name"></title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="<%= pkg.name%>.css" />
    <script src="underscore/underscore.js"></script>
    <script src="jquery/dist/jquery.js"></script>
    <script src="angular/angular.js"></script>
    <script src="angular-animate/angular-animate.js"></script>
    <script src="angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bootstrap/dist/js/bootstrap.js"></script>
    <script src="angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="<%= pkg.name%>-tpls.js"></script>


    <script src="assets/app.js"></script>
    <script src="assets/demo.js"></script>
</head>

<body>
  <div class="viewport">
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" ng-bind="cfg.name"></a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <ul class="nav navbar-right top-nav">
          <li>
            <a href="{{cfg.github}}" target="_blank">
            <i class="fa fa-github"></i>GitHub </a>
          </li>
        </ul>
        <div class="collapse navbar-collapse">
          <ul ngui-dropdown="menu" auto-close="false" class="nav navbar-nav side-nav">
          </ul>
        </div>
      </div>
    </div>

    <div class="workspace rworkspace">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12 an-scaleup-rotatefall" ui-view >
                </div>
            </div>
        </div>
    </div>

  </div>


</body>
<script>
      (function(){
        "use strict"
        angular.module('app')
        .run(['configService','menuService',function(configService, menuService){
          var cfg = {
            name: '<%=pkg.fullname%>',
            version: '<%=pkg.version%>',
            author: '<%=pkg.author%>',
            github: '<%=pkg.github%>',
            homepage: '<%=pkg.homepage%>',
            dependencies: []
          }
          <% for(var key in bower.dependencies){%>
            cfg.dependencies.push({lib:'<%=key%>' , version:'<%=bower.dependencies[key]%>'});
          <%}%>
          configService.loadLocalConfig(cfg);



          var menuCfg = [{
            key: 'directives',
            text: 'Directives',
            children:[]
          },{
            key: 'start',
            text: 'Getting started'
          },{
            key: 'dependencies',
            text: 'Dependencies',
            router: 'dependencies'
          },{
            key: 'tree',
            text: 'Tree',
            children:[
              {
                key: 'node1',
                text: 'Node1',
                children:[
                  {
                    key: 'start',
                    text: 'Getting started1'
                  },
                  {
                    key: 'start2',
                    text: 'Getting started2'
                  },
                  {
                    key: 'start3',
                    text: 'Getting started3'
                  }
                ]
              },{
                key: 'node2',
                text: 'Node2',
                children:[

                ]
              },{
                key: 'node3',
                text: 'Node3',
                children:[
                ]
              }
            ]
          }];
          <% demoModules.forEach(function(module) {  %>
            menuCfg[0].children.push({
              key: '<%= module.name %>',
              router: '/directives/<%= module.name %>',
              text: '<%= module.displayName %>'
            });
          <% }); %>
          menuService.loadLocalMenu(menuCfg);
        }])
        .config(function($stateProvider, $urlRouterProvider) {
          //
          // For any unmatched url, redirect to /state1
          //$urlRouterProvider.otherwise("/state1");
          //
          // Now set up the states
          $stateProvider.state('dependencies', {
            url:'dependencies',
            templateUrl: 'dependencies.tpl'
          });
          <% demoModules.forEach(function(module) {  %>
            $stateProvider.state('/directives/<%= module.name %>', {
              url:'/directives/<%= module.name %>',
              templateUrl: "<%= module.name %>.tpl",
                resolve: {
                    data: ['$q', function($q){
                        var defer = $q.defer();
                        setTimeout(function(){
                            defer.resolve('/directives/<%= module.name %>');
                        }, 1);
                        return defer.promise;
                    }]
                }
            });
          <% }); %>
        });
      })();


    </script>

  <script type="text/ng-template" id="dependencies.tpl">
    <ul>
      <li ng-repeat="lib in cfg.dependencies">
        <span ng-bind="lib.lib"></span>: <span ng-bind="lib.version"></span>
      </li>
    </ul>
    </script>

    <% demoModules.forEach(function(module) { %>
    <script type="text/ng-template" id="<%= module.name %>.tpl">
          <section >
              <div class="page-header">
                <h1><%= module.displayName %><small>
                    (<%= module.libraryPrefix %>.<%= module.name %>)
                </small></h1>
                </div>
                <div class="row">
                  <div class="col-md-6 show-grid">
                      <%= module.docs.html %>
                  </div>
                  <div class="col-md-6">
                      <%= module.docs.md %>
                  </div>
              </div>
              <hr>
              <div class="row code">
                  <div class="col-md-12">
                      <tabset>
                          <tab heading="Markup">
                              <div plunker-content="markup">
                                  <pre ng-non-bindable><code data-language="html"><%- module.docs.html %></code></pre>
                              </div>
                          </tab>
                          <tab heading="JavaScript">
                              <div plunker-content="javascript">
                                  <pre ng-non-bindable><code data-language="javascript"><%- module.docs.js %></code></pre>
                              </div>
                          </tab>
                      </tabset>
                  </div>
              </div>
          </section>
    </script>
    <script><%= module.docs.js %></script>
    <%})%>
</html>
